.text-red {
  color: red;
}

.script-font {
  font-family: Srisakdi, cursive;
}

.p {
  color: #fff;
}

.sans-font {
  font-family: "Open Sans Condensed", sans-serif;
}

@media only screen and (min-width: 38em) {

  article {
    width: 50em;
    background-color: inherit;
  }

}

cite {
  text-align: center;
}

@media only screen and (min-width: 90em) {

  cite {
    text-align: right;
  }

}
